{% extends 'admin/navbar_admin.html' %}

{% block title %}
    Посещения
{% endblock %}


{% block content %}
    <h2 class="text-center mt-5 mb-5">История посещений</h2>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="width: 600px; margin: auto; text-align: center">
                {{message}}
            </div>
        {% endfor %}
            <br>
    {% endif %}
    <form action="{% url 'view_history' %}" method="POST">

        {% csrf_token %}
        <div style="display: table;margin: auto">

            <div style="display: table-cell">
                <strong>Найти по датам:</strong>
            </div>
            <div style="display: table-cell">
                <input placeholder="Дата въезда" max="{{ today }}" required type="date" class="form-control" name="date_in" style=" width: 200px">
            </div>

            <div style="display: table-cell">
                <input placeholder="Дата выезда" max="{{ today }}" required type="date" class="form-control" name="date_out" style=" width: 200px">
            </div>
            <div style="display: table-cell; margin-left: 2000px">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Категория</th>
            <th scope="col">Посетитель</th>
            <th scope="col">Дата въезда</th>
            <th scope="col">Дата выезда</th>
            <th scope="col">Цена</th>

        </tr>
        </thead>
        <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.room.number }}</th>
                        <th scope="row">{{ order.room.type.category_name }}</th>
                        <th scope="row">{{ order.client.first_name }} {{ order.client.last_name }}</th>
                        <th scope="row">{{ order.entry_date }}</th>
                        <th scope="row">{{ order.departure_date }}</th>
                        <th scope="row">{{ order.price }}</th>

                    </tr>
                {% endfor %}


        </tbody>
    </table>

{% endblock %}