{% extends 'admin/navbar_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Добавление сотрудника
{% endblock %}

{% block content %}
    <div class="card">
        <h3 class="text-center mt-5 mb-3">Добавление сотрудника</h3>
        <hr>
        <div style="margin-left: 300px; margin-right: 300px; margin-bottom: 50px ">
            <form action="#" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success btn-block " value="Добавить">
            </form>
        </div>
    </div>
{% endblock %}