{% extends 'client/base_client.html'%}
{% load crispy_forms_tags %}

{% block title %}
    Бронирование | TestHotel
{% endblock %}


{% block content %}
<div class="card">
<div style="margin-left: 28%; width: 500px; margin-bottom: 30px">
        <h3 class="text-center mt-5 mb-3">Спасибо за бронирование! <br>
            Менеджер вскоре свяжется с вами для подтверждения.</h3>
        <hr>
        <a href="{% url 'main_page'%} " style="width: 500px" class="btn btn-primary">На главную</a>
    </div>
    </div>
{% endblock %}